/* App.css */

/* Styling for list items */
.MuiListItem-root:hover {
	background-color: #383c42;
}

/* Add padding and margin to input fields and buttons */
.MuiTextField-root,
.MuiButton-root,
.MuiFormControl-root {
	margin-bottom: 16px;
}

/* Style for the container holding the logo and login message */
.centered-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
}

/* Style for the logo on the login page */
.login-logo {
	height: 100px;
	margin-bottom: 20px;
}

/* Style for the header logo */
.header-logo {
	height: 50px;
	margin-right: 20px;
}

/* Style for the header toolbar */
.header-toolbar {
	display: flex;
	align-items: center;
}

/* Style for the user info box */
.user-info {
	display: flex;
	align-items: center;
}

/* Style for the user avatar */
.user-avatar {
	cursor: pointer;
}

/* Style for the user name */
.user-name {
	margin-left: 10px;
}

/* Style for the card actions */
.card-actions {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 16px;
}

/* Style for the search and sort box */
.search-sort-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

/* Style for the list item */
.list-item {
	padding: 16px;
}

/* Style for the list item text */
.list-item-text {
	flex-grow: 1;
}

/* Style for adding a new item */
.new-item-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 16px;
}

.new-item-input,
.new-item-description,
.add-item-button {
	margin-bottom: 16px;
}

/* Style for search and sort fields */
.search-sort-fields {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.search-field {
	margin-right: 16px;
}

/* Style for the main container */
.main-container {
	padding: 16px;
}

.app-bar {
	background-color: #383c42;
	z-index: 1201;
}

.header {
	z-index: 1202;
	/* Ensures it is above the drawer */
}

.header-toolbar {
	display: flex;
	align-items: center;
}

.header-logo {
	height: 50px;
	margin-right: 20px;
}

.header-title {
	flex-grow: 1;
}

.header-avatar {
	cursor: pointer;
}

.header-username {
	margin-left: 10px;
}

.profile-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}

.profile-avatar {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}

.profile-username {
	font-size: 24px;
	margin-bottom: 10px;
}

.profile-email {
	font-size: 18px;
	margin-bottom: 20px;
}
