.profile-container,
.edit-profile-container {
	margin-top: 4rem;
}

.profile-content,
.edit-profile-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profile-avatar {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}
